vstaff {
  position: relative;
  user-select: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  color: black;
}

staff {
  display: block;
  width: 100%;
  height: 4em;
  position: relative;
}

staff lines {
  position: absolute;
  width: 100%;
  top: 1.25em;
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

staff lines line {
  height: calc(0.25em - 0.03em);
  border-top: 0.03em solid black;
}

bravura {
  font-family: Bravura, sans-serif;
  font-size: 1em;
  line-height: 4em;
}

bravura, ledgers {
  position: absolute;
  width: 100%;
  height: 100%;
}

bravura bra,
ledgers > * {
  position: absolute;
}

ledgers ledger {
  margin-left: -0.175em;
  margin-top: 2em;
  border-top: 0.03em solid black;
  width: 0.625em;
}

ledgers bar {
  height: 1em;
  margin-top: 1.25em;
  border-left: 0.03em solid black;
}

ledgers stem {
  border-left: 0.03em solid black;
}

ledgers beam, 
ledgers stem,
ledgers tie {
  margin-top: 1.25em;
}

ledgers beam svg,
ledgers tie svg {
  overflow: visible;
}

ledgers tie.flip svg {
  transform: scale(1, -1) translate(0, 90%);
}
